body {
    line-height:1.5;
    background-image: url("/img/top_bg.png");
    background-repeat: repeat-x;
    background-color:#FFF;
    color:#666;    
}
#headertitle {
    color: darkorange;
    font:bold 2.81em/45px 'Trebuchet MS',Trebuchet,Arial,sans-serif;
    letter-spacing:-0.02em;
    padding:20px 0 22px;
    text-shadow:1px 1px 3px #111;
    height: 50px;
}
#infoUser {
    color: #fff;
    text-align: right;
    margin-top: 15px;
    font-size: 14px;    
}
#infoUser img {    
    width: 32px;
    height: 32px;
}
#infoUser b {
    color: #fff;
}
#infoUser a {
    color: darkorange;
    padding: 0;
    text-decoration: none;
}
#infoUser small {
    font-size: 12px;
}
img.avatar {
    background: #fff;
    float: right;
    margin: 5px 0 0 8px;
    padding: 4px;
}
#pagetitle {
    height: 44px;
}
#pagetitle h1 {
    color: #fff;
    font: normal 1.875em/30px 'Trebuchet MS',Trebuchet,Arial,sans-serif;   
    text-shadow: 0 -1px 1px #2A7AD2;
    margin: 0;
    top: 0;
    line-height: 1.2em;
    float: left;
}
#accordion {
    width: 110%;
    float: left;
    margin: 5px 0px 0 -25px;
    font-size: 12px;
}
#accordion li {
    margin: 0 10px 0 0;
    list-style-type:square;
    color: #5D9ADF;
}
#accordion li:hover {
    margin: 0 10px 0 0;
    list-style-type:square;
    color: darkorange;
    font-weight: bold;
}
#accordion a {
    color: #5D9ADF;
    padding: 0;
    text-decoration: none;
}
#accordion a:hover {
    color: darkorange;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}
#footer  {
    font-size: 10px;
    text-align: center;
    margin: 5px 0 0 0
}